<div style="padding: 13px;" style="text-align: center;">
    <mat-spinner *ngIf="items.length === 0"></mat-spinner>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <mat-card *ngFor="let product of items | paginate: { itemsPerPage: 3, currentPage: p }" style="margin-top:10px;" >
       
        <mat-card-title>{{product.title}} </mat-card-title>
        <mat-card-subtitle>{{product.listingType}} / {{product.sellerType}}
        </mat-card-subtitle>
        <mat-card-header>
            
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
            <img style="height:50%; width: 50%;" src="{{ product.photo }}" />
            
            
            <mat-card-subtitle><mat-card-bold>Odometer:</mat-card-bold>{{product.odometer}} </mat-card-subtitle>
            <mat-card-subtitle>State:{{product.state}} </mat-card-subtitle>
            <mat-card-subtitle>Price${{product.price}}</mat-card-subtitle>
            
        
        </mat-card-content>
        
        <mat-card-actions>
            <button matt-button [routerLink]="['/about', product.id]" mat-button> View Details</button>

        </mat-card-actions>
        <mat-divider></mat-divider>
    </mat-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
   
</div>
